.App {
  text-align: center;
  width: 50%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.postjob{

align-items: center;
 margin: 50px auto;
width: 600px;
height: 880px;
border-radius: 5px;
padding: 1em;
box-shadow: rgba(65, 62, 62, 0.2) 0px 2px 8px 0px;

}
.viewjob{

  align-items: center;
   margin: 50px auto;
  height: 750px;
  border-radius: 5px;
  padding: 1em;
 
  
  }

h1 {
  text-align: center;
}
.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.card {
  text-align: center;
  padding: 10px;
  width: 700px;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


/* clamp styles */
.clamp-lines {
  border: 1px solid rgb(26, 57, 125);
  border-radius: .25em;
  font-family: sans-serif;
  margin: 1em;
  padding: .75em;
}

.clamp-lines > span {
  display: block;
}

.clamp-lines__button {
  background: none;
  border: 0;
  color: rgb(60, 150, 228);
  cursor: pointer;
  padding: 0;
}

.clamp-lines__button:hover {
  border-bottom: 1px solid rgb(50, 133, 205);
}

/* clamp custom styles */
.clamp-lines.custom-class {
  background: rgb(255, 255, 255);
}

.clamp-lines.custom-class .clamp-lines__button {
  background: rgb(63, 132, 236);
  border: 1px solid transparent;
  color: #eee;
  display: block;
  margin: .75em auto 0;
  padding: .5em;
  text-align: center;
  transition: all .2s linear;
  width: 100%;
}

.clamp-lines.custom-class .clamp-lines__button:hover {
  background: rgb(37, 156, 235);
}